{% extends "tracking/layout.html" %}
{% load static %}

{% block title %}ATAM{% endblock %}

{% block body %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'tracking/css/styles.css' %}">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% load crispy_forms_tags %}  
<body>
    <h3>
        Add Tracker
    </h3>
    <form method="post">
        {% csrf_token %}
        <div class="md-form form-group w-50">{{ form.tracker_name|as_crispy_field }}</div>
        <div class="md-form form-group w-25">{{ form.tracker|as_crispy_field }}</div>
        <div class="md-form form-group w-50">{{ form.status|as_crispy_field }}</div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}