<html>
    <head>
        <style>
            p{
                padding: 10px;
                font-size: 1.2em;
            }
            h3
            {
                padding: 10px;
                font-size: 1.5em;
                font-style: italic;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h3><a href="{% url 'tracking:help' %}">What is Asset Tracking?</h3></a>
        <p style="float: left;">
        When working on a global platform. There is always a need for a management system that automates your work and allows you to control, manage and monitor various aspects of your organization. There is no proper system to check or track assets that are being utilized in your organization or are in use of particular labour. Similarly, labour tracking is also hard to track. It would be better if the system is automated and live tracking is enabled for both functions. These services include indoor navigation for people, the machinery inside organizations or educational institutions, asset tracking, location of patients inside a hospital. These types of services are also becoming a need of gigantic logistics or warehouse-based companies where there is a need for parcels or vehicle tracking.
        Generating work reports is also a challenging task if there is no proper monitoring on time. So, to cater to this problem, we've brought up a solution in which smart tags will use which will be attached to the asset which will be providing real-time tracking of that particular asset or labour through routers and that router will be providing the data to the server system where the system will be providing the current location of that particular asset.
        </p>
</body>
</html>