<html>
    <head>
        <style>
            p{
                padding: 10px;
                font-size: 1.2em;
            }
            h3
            {
                padding: 10px;
                font-size: 1.5em;
                font-style: italic;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h3><a href="{% url 'tracking:help' %}">What are GPS asset tracking hardware?</h3></a>
        <p style="float: left;">
        ans2
        </p>
</body>
</html>