{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>

    <link rel="stylesheet" type="text/css" href="{% static 'tracking/css/styles.css' %}">
    <script src="{% static 'tracking/js/script.js' %}"></script>
  </head>
  <body>
    <h3 id="head">TRACKING MAP</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn9zI8nW07xOdBQqarW1bGblAQsCZaNt4&callback=initialize&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
