{% extends "tracking/layout.html" %}
{% load static %}

{% block title %}ATAM{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'tracking/css/styles.css' %}">
                <!-- Page content-->
                <div class="container-fluid">
                    <h3 id="head">TRACKING MAP</h3>
                    <div><h5>Tracker list</h5></div>
                    {% for tracker in tracker%}
                    <li><a href="{% url 'tracking:tracker' tracker.id %}">
                      {{tracker.tracker_name}}</a></li>
                      {% endfor %}
    <!--The div element for the map -->
    <div id="map"></div>
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaMwztN6dbDERbNkKcsBE9NKcu3L27l_A&callback=initialize&libraries=&v=weekly"
      async
    ></script>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'tracking/js/script.js' %}"></script>
    {% endblock %}