{% extends "tracking/layout.html" %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" ></script>

<link rel="stylesheet" type="text/css" href="{% static 'tracking/css/styles.css' %}">
<h3>Settings</h3>
 <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" ></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    



            <form class="form-password" style="padding:20px ;" id="change_password_form" >
                <h2 > <strong>Change Password</strong></h2>
                <div class="md-form form-group w-50">
                    <label for="old_password"><strong>Old password</strong></label>
                    <input type="password" class="form-control" id="old_password" placeholder="Old password">
                    <p style="color: red;"id="old_password_error"></p>
                  </div>
                  <div class="md-form form-group w-50">
                    <label for="new_password"><strong> Password</strong></label>
                    <input type="password" class="form-control" id="new_password" placeholder="New password">
                    <p style="color: red;"id="new_password_error"></p>
                </div>

                  <input id="change_password" type="button" value="submit" class="btn btn-primary btn-md">

                       
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" ></script>
        <script>
        
        //console.log("document loading")
        $(document).ready(function(){
        
           
            
            $("#change_password").click(function(){
                $("#old_password_error").text("");
        $("#new_password_error").text("");
        $("#non_field_errors").text("");
        
            var old_password = $('#old_password').val();
            var new_password =$('#new_password').val();
            var serializedData = $("#change_password_form").serialize()+"&old_password="+old_password+"&new_password="+new_password; 
            $.ajax({
                type: 'PUT',
                headers:{
            "Authorization": "token "+window.localStorage.getItem("token")
        },
                url: '{% url "change-password" %}',
                data: serializedData,
               
                success: function (response) {
                    console.log(response.token)
                    window.localStorage.setItem('token', response.token);
                    console.log(response);
                    location.href = "http://localhost:8000/"
                },
                error: function (XHR, status, err) {
                    console.log("Error!");
                    $("#old_password_error").text(XHR.responseJSON["old_password"]);
            $("#new_password_error").text(XHR.responseJSON["new_password"]);
            $("#non_field_errors").text(XHR.responseJSON["non_field_errors"]);
        
                }
            })
        })
        })
        
        </script>
{% endblock %}
