{% extends "tracking/layout.html" %} 
{% load static %} 
{% block title %}
Maintenace 
{% endblock %}

{% block body %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'tracking/css/styles.css' %}">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div>
    <h1>Locations</h1>
    <table class="table table-warning table-hover">
      <thead>
      <tr>
        <th scope="col">Asset Name</th>
        <th scope="col">Tracker id</th>
        <th scope="col">Total Distance Covered(km)</th>
        <th scope="col">Maintenance Status</th>
        <th scope="col">Maintenance Limit</th>
        <th scope="col">Change Limit</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
      <tr>
        {% for name in names %}
          {% if name.tracker_id == location.tracker %}
            <td>{{ name }}</td>
          {% endif %}
        {% endfor %}
        <td>{{ location.tracker }}</td>
        <td>{{ location.total_distance }}</td>
        <td>{{ location.maintenance_status }}</td>
        <td>{{ location.maintenance_limit }}</td>
        <!-- <td><button>Change</button></td> -->
        <td><a href="{% url 'maintenance:update_limit' location.tracker %}"><button type="submit" class="btn btn-warning">Change</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <!-- <ul>
      {% for location in locations %}
      <li>
        Location {{ location.id }}: {{ location.total_distance }} : {{ location.maintenance_status }}
        : {{ location.tracker }} : {{ location.maintenance_limit }}
        <button>Edit</button>
      </li>

      {% endfor %}
    </ul> -->
  </div>
{% endblock %}
